<head>
    <link rel="stylesheet" href="menu.css">
</head>
<nav class="menu">
    <ul class="conteudos">
        <a href="#sobre" id="botao-sobre" class="active">
            <li>Sobre</li>
        </a>
        <a href="#projetos" id="botao-projetos">
            <li>Projetos</li>
        </a>
        <a href="#contato" id="botao-contato">
            <li>Contato</li>
        </a>
    </ul>
    <div class="idiomas">
        <div class="botao-idiomas" id="botao-idiomas">
            <a href="javascript:void(0)" class="dropbtn"><img src="../../../images/globe.svg" alt=""></a>
            <div class="lista-idiomas">
                <a href="#" data-lang="pt-BR"><img src="/images/br.svg"
                        alt="Bandeira do Brasil"></a>
                <a href="#" data-lang="en"><img src="/images/us.svg"
                        alt="Bandeira dos Estados Unidos"></a>
                <a href="#" data-lang="es"><img src="/images/es.svg"
                        alt="Bandeira da Espanha"></a>
                <a href="#" data-lang="it"><img src="/images/it.svg"
                        alt="Bandeira da Itália"></a>
            </div>
        </div>
    </div>
</nav>

<script src="menu.js" type="module"></script>