<head>
    <link rel="stylesheet" href="menu.css">
</head>
<nav class="menu">
    <ul class="conteudos">
        <a href="#sobre" id="botao-sobre" class="active"></a>
        <a href="#projetos" id="botao-projetos"></a>
        <a href="#contato" id="botao-contato"></a>
    </ul>
    <div class="idiomas">
        <div class="botao-idiomas" id="botao-idiomas">
            <a href="javascript:void(0)" class="dropbtn" aria-label="menu-idiomas"><img src="../../../images/globe.svg" alt="" loading="lazy"></a>
            <div id="lista-idiomas" class="lista-idiomas"></div>
        </div>
    </div>
</nav>

<script src="menu.js" type="module"></script>