<head>
    <link rel="stylesheet" href="menu.css">
</head>
<nav class="menu">
    <ul class="conteudos">
        <li><a href="#sobre" class="active">Sobre</a></li>
        <li><a href="#projetos">Projetos</a></li>
        <li><a href="#contato">Contato</a></li>
    </ul>
    <div class="idiomas">
        <div class="botao-idiomas" id="botao-idiomas">
            <a href="javascript:void(0)" class="dropbtn"><img src="../../../images/globe.svg" alt=""></a>
            <div class="lista-idiomas">
                <a href="#" data-lang="pt-BR"><img src="../../../node_modules/flag-icons/flags/4x3/br.svg"
                        alt="Bandeira do Brasil"></a>
                <a href="#" data-lang="en"><img src="../../../node_modules/flag-icons/flags/4x3/us.svg"
                        alt="Bandeira dos Estados Unidos"></a>
                <a href="#" data-lang="es"><img src="../../../node_modules/flag-icons/flags/4x3/es.svg"
                        alt="Bandeira da Espanha"></a>
                <a href="#" data-lang="it"><img src="../../../node_modules/flag-icons/flags/4x3/it.svg"
                        alt="Bandeira da Itália"></a>
            </div>
        </div>
    </div>
</nav>

<script src="menu.js"></script>