.info {
  width: 100%;
  height: 30rem;
  display: flex;
}

.info div {
  width: 50%;
  height: 100%;
}

.info .separador {
  width: 0.125rem;
  background-image: linear-gradient(to bottom, transparent, #EBA417, transparent);
}

.info-foto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-foto img {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  border: 0.25rem solid #EBA41799;
  object-fit: cover;
}

.info-gerais {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-gerais div {
  width: 80%;
  height: fit-content;
}

.info-gerais .nome {
  margin-top: 2rem;
}


.info-gerais .nome h1 {
  margin: 0;
  font-size: 4rem;
  color: #EBA417;
}

.info-gerais .nome h2 {
  margin: 0;
  font-size: 3rem;
  color: #E1E1E6;
}

.info-gerais .cargo h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #E1E1E6;
  font-style: italic;
}

.info-gerais .info-contato {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-gerais .info-contato div {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.info-gerais .info-contato div img {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}

.info-gerais .info-contato div p {
  color: #E1E1E6;
  margin: 0;
}


/*------------------------------------------------*/

.titulo h2 {
  margin: 0;
  font-size: 2rem;
  color: #EBA417;
}

.about {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  margin-top: 3rem;
  align-items: center;
}

.about div {
  width: 100%;
  height: fit-content;
}

.about p {
  margin: 0;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #E1E1E6;
}


/*------------------------------------------------*/
.experience {
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
}

.timeline {
  margin-top: 2rem;
  position: relative;
}

.timeline ul {
  list-style: none;
  padding: 0;
}

.timeline ul::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  bottom: 0;
  width: 0.1875rem;
  background-image: linear-gradient(to bottom, #EBA417, #EBA41780);
  /* Cor da linha */
  z-index: 1;
  /* Garante que a linha fique atrás dos itens */
}

.timeline li {
  display: flex;
  margin-bottom: 2.5rem;
  position: relative;
  /* Para posicionar o marcador */
}

.timeline li::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background: #EBA417;
  /* Cor do marcador */
  z-index: 2;
  /* Garante que o marcador fique na frente da linha */
}

.timeline li::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 7.5%;
  /* Largura da linha de conexão */
  height: 0.1875rem;
  /* Espessura da linha de conexão */
  z-index: 1;
  /* Abaixo do marcador */
}

.timeline li:nth-child(even)::after {
  right: calc(50%);
  /* Posição à direita para itens ímpares */
  background-image: linear-gradient(to left, #EBA417, transparent);
}

.timeline li:nth-child(odd)::after {
  left: calc(50%);
  /* Posição à esquerda para itens pares */
  background-image: linear-gradient(to right, #EBA417, transparent);
}

.timeline li:nth-child(odd) {
  flex-direction: row-reverse;
}

.timeline li:nth-child(odd) .content {
  margin-right: 5%;
  /* Espaçamento à direita para itens ímpares */
}

.timeline li:nth-child(even) .content {
  margin-left: 5%;
  /* Espaçamento à esquerda para itens pares */
}

.content {
  width: 35%;
  height: fit-content;
  background: #343a40;
  /* Cor do card */
  padding: 2.5%;
  border-radius: 0.25rem;
  color: #E1E1E6;
  z-index: 3;
}

.content h3 {
  margin-top: 0;
}

/*------------------------------------------------*/
.skills {
  width: 80%;
  margin: 0 auto;
  margin-top: 8rem;
}

.skills-box {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0 1rem;
  margin-top: 1rem;
  justify-content: space-between;
}

.skills-container {
  /* ... estilos gerais do container ... */
  height: fit-content;
  width: 33%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #343a40;
  color: #E1E1E6;
}

.skills-container h3 {
  margin: 0;
  text-align: center;
}

.skills-container ul {
  list-style: none;
  padding: 0;
}

.skill h4 {
  margin: 1.25rem 0;
}

.barra {
  /* Estilos do container da barra segmentada */
  width: 100%;
  height: 0.5rem;
  background-color: #343a40;
  display: flex;
  /* Habilita Flexbox para organizar os segmentos */
}

.segmento {
  /* Estilos de cada segmento da barra */
  height: 100%;
  border-radius: 0.125rem;
  background-color: #E1E1E6;
  flex-grow: 1;
  /* Permite que os segmentos ocupem o espaço disponível */
}

.segmento:not(:last-child) {
  /* Adiciona espaçamento entre os segmentos (exceto o último) */
  margin-right: 0.375rem;
}

/* 1280px */
@media only screen and (max-width: 80em) {
  .timeline li:nth-child(odd) .content {
    margin-right: 0;
    /* Espaçamento à direita para itens ímpares */
  }

  .timeline li:nth-child(even) .content {
    margin-left: 0;
    /* Espaçamento à esquerda para itens pares */
  }

  .content {
    width: 40%;
    height: fit-content;
    background: #343a40;
    /* Cor do card */
    padding: 2.5%;
    border-radius: 0.25rem;
    color: #E1E1E6;
    z-index: 3;
  }
}

/* 1024px */
@media only screen and (max-width: 64em) {}

/* 768px */
@media only screen and (max-width: 48em) {
  .info {
    height: auto;
    display: grid;
  }

  .info div {
    width: 100%;
    height: auto;
  }

  .info .separador {
    width: 0;
    background-image: none;
  }

  .info-foto img {
    width: 15rem;
    height: 15rem;
  }

  .info-gerais div {
    width: 90%;
  }

  .info-gerais .nome {
    margin-top: 2.5rem;
  }

  .info-gerais .nome h1 {
    font-size: 3.5rem;
  }

  .info-gerais .nome h2 {
    font-size: 2.5rem;
  }

  .info-gerais .cargo h3 {
    font-size: 1.25rem;
  }

  .info-gerais .info-contato {
    margin-top: 1.5rem;
  }

  /*------------------------------------------------*/

  .about {
    margin: 0 5%;
    margin-top: 3rem;
  }

  .about p {
    font-size: 1rem;
  }

  /*------------------------------------------------*/
  .experience {
    width: auto;
    margin: 0 5%;
    margin-top: 3rem;
  }

  .timeline ul::before {
    left: 0;
  }

  .timeline li::before {
    left: 0;
  }

  .timeline li::after {
    width: 0;
    /* Largura da linha de conexão */
    height: 0;
    /* Espessura da linha de conexão */
  }

  .timeline li:nth-child(odd) .content {
    margin-left: 0.75rem;
    margin-right: 0rem;
  }

  .timeline li:nth-child(even) .content {
    margin-left: 0.75rem;
    margin-right: 0rem;
    /* Espaçamento à esquerda para itens pares */
  }

  .content {
    width: 100%;
  }

  /*------------------------------------------------*/
  .skills {
    width: 90%;
    margin: 0 5%;
    margin-top: 3rem;
  }

  .skills-box {
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .skills-container {
    width: auto;
    margin: 1rem 0;
    padding: 1.5rem;
  }
}

/* 640px */
@media only screen and (max-width: 48em) {}