/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #343a40 #121414;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.75rem;
}

*::-webkit-scrollbar-track {
  background: #121414;
}

*::-webkit-scrollbar-thumb {
  background-color: #343a40;
  border-radius: 1.25rem;
  border: 0.25rem solid #121414;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding-top: 5rem;
  background-color: #121414;
}

main {
  margin: 0 15%;
}

footer {
  height: 2rem;
  width: 100%;
}

/* 1280px */
@media only screen and (max-width: 80em) {
  main {
    margin: 0;
  }
}

/* 1024px */
@media only screen and (max-width: 64em) {}

/* 768px */
@media only screen and (max-width: 48em) {}

/* 640px */
@media only screen and (max-width: 40em) {}